# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
nameguess-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/
!/priv/static/assets/fonts/
!/priv/static/assets/fonts/*

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

/priv/pics/*
/priv/pics

/priv/pics/people_original/*
!/priv/pics/people_original/.gitempty

/priv/pics/cover_generate/*
!/priv/pics/cover_generate/.gitempty

/priv/pics/people_display/*
!/priv/pics/people_display/.gitempty

/priv/pics/people_overloading/*
!/priv/pics/people_overloading/.gitempty

/priv/pics/public/people_thumbnail/*
!/priv/pics/public/people_thumbnail/.gitempty

/priv/pics_local/*
!/priv/pics_local/.gitempty

/priv/data/datasource_local.json

/priv/cert

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/config/*.secret.exs
/config/config_app.exs

/.idea/
