<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "NameGuess", suffix: "" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body data-space={@space.codename}>
  <header>
    <div class="grid-container">
      <div class="grid-x">
        <div class="title cell medium-6 small-4 no-js">
          <ul class="menu title dropdown" data-dropdown-menu>
            <li><a href={Routes.page_path(@conn, :index, @space.codename)}>NameGuess</a></li>
            <%= if multiple_spaces?(@conn) === true do %>
            <li class="is-dropdown-submenu-parent hide-for-small-only">
              <a href="#"><%= @space.name %></a>
              <ul class="menu vertical">
                <%= for {codename, name} <- get_space(@conn) do %>
                  <%= if codename != @space.codename do %>
                    <li><a href={Routes.page_path(@conn, :index, codename)}><%= name %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="cell auto">
          <ul class="menu float-right">
            <li><a href={Routes.live_path(@conn, NameGuessWeb.GameLive, @space.codename)}><%= gettext "Game" %></a></li>
            <li><a href={Routes.page_path(@conn, :high_scores, @space.codename)}><%= gettext "High Scores" %></a></li>
            <li><a href={Routes. stats_spaced_path(@conn, NameGuessWeb.StatsLive, @space.codename)}><%= gettext "Stats" %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main role="main">
    <%= @inner_content %>
  </main>
  <footer>
    <%= gettext("©2019-%{year} %{app_name}", year: DateTime.utc_now.year, app_name: Application.get_env(:nameguess, :app_name)) |> raw() %> - <a target="_blank" href="https://github.com/conradfr/NameGuess">sources</a>
  </footer>
  </body>
</html>
