
$background-color-header: #022a2a;
$background-color-main: #fafbfc;

//$header-vibrant: #5fd6ea;
//$header-flat: #53afc0;
$header-vibrant: #5dd2c2;
$header-flat: #56B9A9;

$main_color: #00a295;

$button-game-background: #d5d6d7;

$h-color: #3b4146;
$sub-color: #5b656e;
$light-color: rgba(131, 155, 165, 0.5);

$game-over: #ff321c;
$game-win: #05af0e;

/*
$foundation-palette: (
        primary: $main_color,
        secondary: #767676,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
) !default;
*/
