import Config

config :nameguess,
  app_name: "NameGuess",
  bamboohr_subdomain: "",
  pics_folder: "priv/pics/",
  default_space_codename: "",
  # used on sql query for people selection, using person.location field
  homepage_picture_location: "",
  datasource_sources: [NameGuess.DataSource.WikipediaPresidents]
