use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :nameGuess, NameGuessWeb.Endpoint,
  # mix phx.gen.secret
  secret_key_base: ""

# Configure redis
config :nameGuess,
       bamboohr_key: ""

# Configure your database
config :nameGuess, NameGuess.Repo,
       username: "postgres",
       password: "root",
       database: "nameguess_dev",
       hostname: "localhost",
       pool_size: 10
